<div class="feed-content">
    <div id="feedsList" class="list-group feed-list-group" ng-show="feedsList.length > 0">
        <div class="row m-list list-group-item" ng-repeat="feed in feedsList track by $index" ng-click="getArticle($event, feed)">
            <img class="article-img" ng-src="{{feed.image}}" lazy-load-image="{{$index}}"/>
            
            <div class="column">
                
                <span class="badge badge-pill badger" animate-delay="{{$index}}">{{feed.keywords[0]}}</span>
                
                <div class="article-title">
                    <h5 class="mb-1" ng-hide="currentFeed.id == feed.id">{{feed.title}}</h5>
                    <a id="artLnk" animate-delay="{{$index}}" ng-href="{{feed.url}}" target="_blank" ng-show="currentFeed.id == feed.id" class="mb-1">{{feed.title}}</a>
                </div>
                <small class="article-time">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> {{feed.updatedAt | momentAgo}}
                </small>
                <div class="article-content ng-hide">
                    {{feedData[feed.id].summary}}
                </div>
            </div>
        </div>
        <div class="row m-list" ng-show="feedsListPagination.next_page">
            <div class="loader-30 loader-1 absolute-center"></div>
        </div>
    </div>

    <div class="fill-screen" ng-show="feedsList.length === 0 && loadingFeeds">
        <div class="loader-48 loader-1 absolute-center"></div>
    </div>

    <div class="fill-screen" ng-show="feedsList.length === 0 && !loadingFeeds">
        <h5 class="absolute-center no-feeds">No Feeds :(</h5>
    </div>
</div>