.profile-container {
    height: 100%;
    overflow-y: auto;
    * {
        font-family: sans-serif !important;
    }
}

.profile-content {
    margin-top: $margin-top-content;
    margin-bottom: 50px;
    >.container {
        padding: 8px;
    }
}

.profile-pic-div {
    position: relative;
    >.profile-pic {
        position: relative;
        animation: 0.2s fadeInUp ease-out;
        animation-fill-mode: forwards;
        height: 100px; 
        width: 100px;
        border-radius: 50%;
    }
}

.profile-featurette {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.lead {
    animation: 0.2s fadeInUp ease-out;
    animation-fill-mode: forwards;
}

.login-form {
    width: 100%;
    animation: 0.2s fadeInUp ease-out;
    animation-fill-mode: forwards;

    .g-logo {
        height: 30px;
        float: left;
    }

    .or {
        position: relative;
        &:before, &:after {
            content: '';
            width: 40%;
            border: 1px solid #dcdcdc;
            position: absolute;
            height: 1px;
            top: 10.5px;
        }

        &:before {
            left: 0;
        }

        &:after {
            right: 0;
        }
    }
}