.splash-screen {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    background: #2d4452;
    * {
        font-family: sans-serif !important;
    }
}

.splash-screen-inner {
    position: relative;
    height: inherit;
    width: inherit;
}

.splash-duck {
    height: 100px;
    width: 100px;
}

.s-banner {
    top: 40% !important;
    width: 100%;
}

.splash-title {
    color: #fff;
}

.happy-reading {
    border-radius: 2px;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12)
}